body {
  background-color: black;
  color: white;
  font-family: fangsong;
  overflow: scroll;
}
body::-webkit-scrollbar {
  display: none;
}
.star {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
}
#starcontainer {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  transform: rotate(0);
  pointer-events: none;
}
button {
  background-color: white;
  z-index: 2;
}

#improveYourself {
  display: none;
  font-size: 20px;
}
#purposeCounter {
  font-size: 25px;
  height: 9;
}
#gainPurpose {
  font-size: 15px;
}

#settingsButton {
  bottom: 0;
  left: 0;
  z-index: 3;
}
#settingsContainer {
  display: none;
  left: 0;
  z-index: 3;
}

#statistics {
  position: absolute;
  right: 10px;
  top: 13;
  text-align: end;
}
#statisticsTopText {
  display: inline-block;
}
#statisticsButton {
  display: block;
}
.statistic {
  margin-bottom: 0px;
  margin-top: 0px;
  visibility: visible;
}

#idleReflectionButton {
  display: none;
}
#idleReflectionBuyMax {
  display: none;
}
#idleReflectionPriceDisplay {
  display: none;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 10px;
}
#idleReflection {
  height: 25;
  display: flex;
}

#sharpenFocus {
  height: 25;
  display: flex;
}
#sharpenFocusButton {
  display: none;
}
#sharpenFocusBuyMax {
  display: none;
}
#sharpenFocusPriceDisplay {
  display: none;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 10px;
}

#seekValidation {
  height: 25;
  display: flex;
}
#seekValidationButton {
  display: none;
}
#seekValidationBuyMax {
  display: none;
}
#seekValidationPriceDisplay {
  display: none;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 10px;
}

#findYourBalance {
  height: auto;
  display: flex;
}
#findYourBalanceTitle {
  display: none;
  font-size: 20px;
}
#findYourBalanceTip {
  display: none;
  margin-top: 4px;
  margin-bottom: 0px;
}
#findYourbalanceSlider {
  display: none;
  margin-top: 20px;
  pointer-events: none;
}
#findYourBalanceButton {
  display: none;
}

#deepenResolve {
  height: 25px;
  display: flex;
}
#deepenResolveButton {
  display: none;
}
#deepenResolveBuyMax {
  display: none;
}
#deepenResolvePriceDisplay {
  display: none;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 10px;
}
